.card-body.svelte-1udyrqm{background-color:#fff;width:100%;padding:2em;border-radius:8px}.heading.svelte-1udyrqm{margin-bottom:.8rem}.mark.svelte-1udyrqm{height:1.3em;margin-right:.5em}h4.svelte-1udyrqm{display:flex;align-items:center}
